body {
    background: #232323;
    margin: 0;
    font-family: Avenir;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    background: blue;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
}
#container {
max-width: 600px;
margin: 0 auto;
padding-top: 20px;
}

h1 {
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#stripe {
    height: 30px;
    background: white;
    text-align: center;
    color: black;
}
.selected {
    color: white;
    background: steelblue;
}
#colorDisplay {
    font-size: 200%;
}
button {
    border: none;
    background: none;
    text-transform: capitalize;
    height: 100%;
    font-family: Avenir;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}
#message {
    display: inline-block;
    width: 20%;
    font-weight: bold;
}
button:hover {
    color: white;
    background: steelblue;
}
